/* AdministratorstudentProfile.css */

.main-component {
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
}

.user-box-container {
  display: flex;
  flex-wrap: wrap;
}

.user-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px); /* Adjust as needed for responsiveness */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  flex: 1;
}

.user-details h2 {
  margin-bottom: 5px;
}

.user-actions {
  margin-top: 10px;
}

.approve-button,
.reject-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.approve-button:hover,
.reject-button:hover {
  background-color: #0056b3;
}

.link-style {
  color: #007bff;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  margin-right: 10px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}
